/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    color: #000;
    background-image: url('../img/fond.png')
}

}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}



footer {
    margin: 50px 0;
}

.spacebtn
{
    margin-top: 15px;
}

.block
{
    display: block;
}

.navbar-inverse {
    background-color: #2857e0;
    border-color: #2857e0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}


.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

hr {
    border-top: 1px solid #2857e0;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.photo {
    position:relative;
    -webkit-box-shadow: 0px -1px 53px -5px rgba(189,189,189,1);
    -moz-box-shadow: 0px -1px 53px -5px rgba(189,189,189,1);
    box-shadow: 0px -1px 53px -5px rgba(189,189,189,1);
    margin-bottom: 30px;
    opacity:0.9;
    transition-duration: 0.6s;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;

}

.photo-img
{
    position: relative;
    display: flex;
    align-items: center;
    height: 300px;
    overflow: hidden;
}

.photo-info{
    padding: 5px 15px 15px 15px;
}

.photo:hover{
    opacity:1;
    transform: scale(1.02);
}

.photo:hover .title a{
    color: #a0001a;
}

.blockh {
    border-radius: 10px;
    background-color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

h2{
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

h3{
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

.inner {
    margin-left: 15px;
}

.inner a{
    text-decoration: none;
    color: 000;
}
.pb{
    padding-bottom: 10px;
}